* {
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: auto;
  /* width: 64rem; */
  max-width: 64rem;
  font-family: "Pretendard", sans-serif;
  line-height: 1.4;
  overflow-x: hidden;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  :visited {
    color: inherit;
  }
}
