* {
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: auto;
  /* width: 64rem; */
  max-width: 64rem;
  font-family: "Pretendard", sans-serif;
}

.aoboshi-one {
  font-family: "Aoboshi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.w-100 {
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
